.ant-table {
  td,
  th {
    padding: 16px 8px !important;
  }
}

div.ant-form-explain {
  font-size: 12px !important;
}

.ant-modal-body {
  i.alert {
    font-size: 32px;
    vertical-align: middle;
    padding-right: 14px;
  }

  span.content {
    font-size: 13px;
  }
}

.ant-table {
  background: white;
}

.ant-btn {
  height: 28px !important;
  padding: 0 15px 2px !important;
}

.ant-table-filter-dropdown {
  min-width: 60px !important;
  margin-left: 28px;
}

input.ant-input {
  height: 28px !important;
  padding: 0 14px !important;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 30px !important;
}

.ant-table-thead > tr > th {
  font-weight: 500;
}
