@import "./antd-reset.scss";
@import "./style.scss";
@import "./color.scss";

div,
span,
table,
a,
form {
  font-size: 12px;
}

body {
  height: 100vh;
}

label,
textarea,
input {
  font-size: 12px !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
